<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everyday IT Solutions</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Header Start -->
    <header>
        <nav class="nav">
            <div class="logo">
                <h1 class="clr-text-green">Everyday IT Solutions</h1>
            </div>
            <ul class="nav-inner">
                <li><a href="about-us">Home</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="contact-us">Contact-us</a></li>
            </ul>
        </nav>
    </header>
    <!-- Header End -->
    
    <main>
        <div class="jumboltron">
            <div class="inner-contact">
                <h1 class="text-center mb-2">Contact Us</h1>
            <form action="" class="form">
                <input type="text" placeholder="Enter your name" required>
                <input type="email" placeholder="Enter your email" required>
                <input type="text" placeholder="Enter your company name" required>
                <input type="number" placeholder="Enter your best point of contact" required>
                <input type="text" placeholder="Message Us" required>
                <button class="btn"> Submit</button>
            </form>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="logo-footer">
            <h1 class="clr-text-green">Everyday IT Solutions</h1>
        </div>
        <ul class="footer-inner">
            <li><a href="#">Copyright @2023-Everyday IT Solutions </a></li>
            <li><a href="#">Zeta Bldg. Salcedo St. Makati City, MNL, PH </a></li>
            <li><a href="#"> (632) 8231 2520</a></li>
            <li><a href="#"> info@cloudconsole.ph</a></li>
        </ul>
    </footer>
</body>
</html>