<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everyday IT Solutions</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://kit.fontawesome.com/7beb9fdde3.css" crossorigin="anonymous">
</head>
<body>
    <!-- Header Start -->
    <header>
        <nav class="nav">
            <div class="logo">
                <h1 class="clr-text-green">Everyday IT Solutions</h1>
            </div>
            <ul class="nav-inner">
                <li><a href="about-us">Home</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="contact-us">Contact-us</a></li>
            </ul>
        </nav>
    </header>
    <!-- Header End -->
    
    <main>
        <div class="jumboltron">
            <h1 class="text-center">Our Services
            </h1>
            <div class="space"></div>
            <div class="space"></div>
            <div class="container-services ">
                <div class="box">
                    <div class="circle mb-2"></div>
                    <h2 class="mb-1">Network Connectivity and Monitoring</h2>
                    <p class="text-justify">Fiber internet with a robust and secured WiFi and LAN setup, firewall and network management to make the most of your connection in the office</p>
                </div>
                <div class="box">
                    <div class="circle mb-2"></div>
                    <h2 class="mb-1">Server and Hardware Management</h2>
                    <p class="text-justify">From compact servers for small businesses to backup and data storage solutions, our expert insights on servers, laptops, desktop and hardware follow modern standards</p>
                </div>
                <div class="box">
                    <div class="circle mb-2"></div>
                    <h2 class="mb-1">Software and Systems Administration
                    </h2>
                    <p class="text-justify">Implementing Microsoft Office365, IP-PBX telephony, CCTV and other software systems that are proven to increase productivity at work</p>
                </div>
            </div>
            <div class="container-services ">
                <div class="box">
                    <div class="circle mb-2"></div>
                    <h2 class="mb-1">IT Relocation
                    </h2>
                    <p class="text-justify">Moving and setup of your IT equipment including inventory, disassembly and re-connection, done more efficiently</p>
                </div>
                <div class="box">
                    <div class="circle mb-2"></div>
                    <h2 class="mb-1">IT Health Check</h2>
                    <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati similique excepturi modi aspernatur est blanditiis architecto quo praesentium tenetur, sunt in veniam commodi sint, doloremque harum eos animi quod ullam.</p>
                </div>
                <div class="box">
                    <div class="circle mb-2"></div>
                    <h2 class="mb-1">IT Help Desk
                    </h2>
                    <p class="text-justify">Responsive and seasoned IT support engineers to maintain your IT environment, available remote and onsite</p>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="logo-footer">
            <h1 class="clr-text-green">Everyday IT Solutions</h1>
        </div>
        <ul class="footer-inner">
            <li><a href="#">Copyright @2023-Everyday IT Solutions </a></li>
            <li><a href="#">Zeta Bldg. Salcedo St. Makati City, MNL, PH </a></li>
            <li><a href="#"> (632) 8231 2520</a></li>
            <li><a href="#"> info@cloudconsole.ph</a></li>
        </ul>
    </footer>
    <!-- Font awesome -->
    
<script src="https://kit.fontawesome.com/7beb9fdde3.js" crossorigin="anonymous"></script>
</body>
</html>