@import 'variables';
@import 'contactUS';
@import 'services';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}

/*** Navbar***/ 
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clr-head-foot;
    padding: 1.5rem 2rem;
}

.nav-inner{
    display: flex;
}

.nav-inner li{
    margin-left: 1rem;
    &:hover{
        color: white;
    }
}

.clr-text-w{
    color: white;
}
/*** Footer***/ 
.footer{
    background-color: $clr-head-foot;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
}
.logo-footer{
    max-width: auto;
}
.footer-inner{
    margin-left: 1rem;
    line-height: 1.2;
}


/***Main***/ 
.jumboltron{
    background: $clr-bg;
    min-height: 80vh;
    padding:2rem;
}
.main{
    display: flex;
    justify-content: center;
}
.about-inner{
    max-width: 600px;
    background-color: $clr-head-foot;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.space{
    padding: 1rem;
}

.inquire-btn{
    display: inline-block;
}
/***Variable***/ 

.text-center{
    text-align: center;
}
.btn{
    padding: .8rem 2rem;
    border-radius: 10px;
    border-color: inherit;
    cursor: pointer;
    background-color: $clr-btn;
    &:hover{
    background-color: hsl(135, 39%, 83%);
    transition: all ease-in-out .5s;
    }
}
.mb-2{
    margin-bottom: 2rem;
}
.fz-40{
    font-size: 40px;
}
